@import "../variables";

// :export { navbar-color: $navbar-color; } // To access it in jsx via {styles['navbar-color']}
// @value navbar-color "#{$navbar-color}";  // To access it in jsx via {styles['navbar-color']}

.app {
  background-color: $bg-color; 
}
  
.app-header {
  background-color: $navbar-bg-color;   
  padding: 20px;
  color: $navbar-color;
}

.app-title {
  font-size: 1.5em;
}

.app-side-navbar {
  text-align: center;
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 100vh;
  background-color: $navbar-bg-color;  
}

.app-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.app-navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.app-navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  /* align-items: center; */
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

  